.container{
    position: relative;
    padding: 1rem;
}
.modal{
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99999;
}
.modal > canvas {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    
}
.image{
    /* position: absolute; */
    margin: 0;
}
.image > img {
    border: 1px solid #ccc;
    border-radius: 3px;
}
.signpad{
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
}
.buttons{
    display:flex;
    margin: 0;
}
.buttons button{
    border: 1px solid #ccc;
    border-radius: 3px;
    background: transparent;
    padding: 10px 15px;
    margin-right: 1rem;
    cursor: pointer;
}