.container {
    position: relative;
    padding: 1rem;
}
/* canvas {
    border: 1px solid #ccc;
    background-color: #fff;
} */
.modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    display: none;
}

.modal>.signPad {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal > .signPad > canvas {
    border: 1px solid #ccc;
    background-color: #fff;
}

.image {
    /* position: absolute; */
    margin: 0;
}

.image>img {
    border: 1px solid #ccc;
    border-radius: 3px;
}

.signpad {
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
}

.buttons {
    display: flex;
    margin: 0;
}

.buttons button {
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #fff;
    padding: 10px 15px;
    margin-right: 10px;
    cursor: pointer;
}