canvas{
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 1rem;
}
button{
    background-color: darkcyan;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 3px;
}
#sketch {
    border: 10px solid gray;
    height: 100%;
    position: relative;
}

#tmp_canvas {
    position: absolute;
    left: 0px; right: 0;
    bottom: 0; top: 0;
    cursor: crosshair;
} 